%% -*-erlang-*-
{erl_opts, [debug_info]}.
{deps,
 [
  {cowboy, ".*", {git, "https://github.com/extend/cowboy"}}
 ]}.

{alias,
 [
  {check, [xref,
           dialyzer,
           {ct, "-c"},
           {cover, "-v --min_coverage=80"}]}
 ]}.


{dialyzer,
 [
  {plt_apps, all_deps},
  {plt_extra_apps, [wx]}
 ]}.

{xref_checks,
 [
  %% enable most checks, but avoid 'unused calls' which is often
  %% very verbose
  undefined_function_calls, undefined_functions, locals_not_used,
  deprecated_function_calls, deprecated_functions
 ]}.

{cover_excl_mods,
 [gs_gui, diagram, gs_gui_round, hcp, fetch_course,
  jsone, jsone_decode, jsone_encode]}.

{profiles,
 [
  {test, [
          %% Avoid warnings when test suites use `-compile(export_all)`
          {erl_opts, [nowarn_export_all]}
         ]}
 ]}.

{relx, [
        {release, {golf_stat, "0.8.0"}, [{golf_stat, permanent}]},

        {dev_mode, true},
        {include_erts, true},
        {exclude_apps, [asn1]},

        %% Complains about the undefined wx function calls
        {check_for_undefined_functions, false},
        %% For webserver exclude gui modules
        {exclude_modules, [{golf_stat, [gs_gui, gs_gui_round, diagram]}]},

        {extended_start_script, true}
       ]
}.
